#outerBox{
    border-style: inherit;
    margin-top: 2%;
    margin-left: 0%;
    padding: 1%;
    border-color: rgb(215, 206, 206);
    text-align: left;
    border-radius: 5%;
    
}
#profilepic{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    margin-left: 8%;
    
}
#textBox{
    text-align: left;
    margin-top: 4%;
    padding: 1%;
    margin-left: 1%;
}
#aboutBox{
    text-align: center;
    margin-top: 4%;
    padding: 5%;
    margin-right: 0%;
}
#adjustBox{    
    height: 70px;
    width: 70px;
    border-radius: 35px;      
}
#adjustBox1{
    height: 65px;
    width: 100px;
    border-radius: 30px;
}
#endBox{
    margin-top: 2%;
    margin-left: 0%;
    padding: 2%;
    text-align: left;
    border-radius: 5%;    
}
#adjustLogo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}